# **Name:** Srinvas Natarajan
# **Date:** 21st January 2022
# **Topic:** Hamoye Stage A

<br>

---

## **A. Loading Data**

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
DATA_PATH = "/content/drive/My Drive/Internship Files/Hamoye/Data/"

In [13]:
df = pd. read_csv(DATA_PATH + "FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')
df.head()

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

## **B. EDA**

In [16]:
print("Null Values:\n\n", df.isnull().sum())

Null Values:

 Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [18]:
(1535/df.shape[0])

60943

In [ ]:
print("Duplicated Values: \n\n", df.duplicated().any())

Duplicated Values:

 False

In [ ]:
print("Unique Elements: ", df["Element"].unique())
print("\n\nUnique Units: ", df["Unit"].unique())

Unique Elements:  ['Total Population - Both sexes' 'Domestic supply quantity'
 'Food supply (kcal/capita/day)' 'Protein supply quantity (g/capita/day)'
 'Fat supply quantity (g/capita/day)' 'Production' 'Import Quantity'
 'Stock Variation' 'Export Quantity' 'Feed' 'Seed' 'Losses' 'Processing'
 'Other uses (non-food)' 'Residuals' 'Food'
 'Food supply quantity (kg/capita/yr)' 'Tourist consumption']


Unique Units:  ['1000 persons' '1000 tonnes' 'kcal/capita/day' 'g/capita/day' 'kg']

In [ ]:
df_ = df.copy()
df_['Y2014'] = df['Y2014'].fillna(value=0)

In [ ]:
df_.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014              0
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

## **C. Questions**

### **Q11.** What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [99]:
pd.DataFrame(df.groupby('Item').sum()).loc["Animal fats", ["Y2014", "Y2017"]]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

### **Q12.** What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [100]:
print( round(df.mean()['Y2015'], 3) )
print( round(df.std()['Y2015'], 3) )

135.236
1603.404

### **Q13.** What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [101]:
print(df.isnull().sum()['Y2016'])
print( round((df.isnull().sum()['Y2016'] / df.shape[0])*100,2), "%" )

1535
2.52 %

### **Q14.** Which year had the highest correlation with ‘Element Code’?

In [28]:
df.corr()['Element Code'].nlargest(2)

Element Code    1.000000
Y2014           0.024457
Name: Element Code, dtype: float64

### **Q15.** What year has the highest sum of Import Quantity?

In [104]:
pd.DataFrame(df.groupby(['Element']).sum()).loc["Import Quantity", ["Y2014","Y2015","Y2016","Y2017","Y2018"]].nlargest(1)

Y2017    294559.09
Name: Import Quantity, dtype: float64

### **Q16.** What is the total number of the sum of Production in 2014

In [105]:
round( pd.DataFrame(df.groupby(['Element']).sum()).loc['Production',"Y2014"], 2)

1931287.75

### **Q17.** Which of these elements had the highest sum in 2018

In [110]:
temp_df = (df.loc[:,['Element',"Y2018"]].groupby("Element").sum()).sort_values(by=['Y2018'], ascending=False )
print(temp_df["Y2018"].nlargest(1))

Element
Domestic supply quantity    2161192.1
Name: Y2018, dtype: float64

### **Q18.** Which of these elements had the 3rd lowest sum in 2018

In [111]:
temp_df["Y2018"].nsmallest(3)

Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Name: Y2018, dtype: float64

### **Q19.** What is the total Import Quantity in Algeria in 2018

In [113]:
temp_df = pd.DataFrame(df.groupby(['Area','Element']).sum())
temp_df.loc["Algeria"].loc["Import Quantity","Y2018"]

36238.29

### **Q20.** What is the total number of unique countries in the dataset

In [68]:
len(pd.unique(df['Area']))

49